<app-navbar></app-navbar>


<div class="container">
    <mat-card class="main">
        <div class="icon-1 icon-total-apt">
            <mat-icon>badge</mat-icon>
        </div>
        <!-- <div class="icon-1 icon-total-apt"><img src="../../assets/appointment.png" width="80%"></div> -->
        <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
                <!-- <form #regForm="ngForm"> -->
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input #uname="ngModel" required name="username" minlength="4" matInput placeholder="Eg.Saurabh123"
                        ngModel required>
                </mat-form-field>
                <div *ngIf="uname.touched && uname.invalid" class="msg">
                    <span style="color: red;">Enter valid details</span>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" #pass="ngModel" required name="password" minlength="4" matInput placeholder="Eg.******"
                        ngModel required="true">
                </mat-form-field>
                <div *ngIf="pass.touched && pass.invalid" class="msg">
                    <span style="color: red;">Enter valid details</span>
                </div>
                <div class="gotosignup">
                    <p><a routerLink="/register">Don't have Account, Sign up</a></p>
                </div>

                <div class="text-center">
                    <button type="submit" mat-raised-button color="primary" class="mr10">Submit</button>
                    <button type="reset" mat-raised-button color="accent">Reset</button>
                </div>
                <!-- <h2 *ngIf="flag">{{sname | uppercase}} added successfully..</h2> -->
            </form>
        </mat-card-content>
    </mat-card>
</div>