/* Structure */
.container{
  display: flex;
  justify-content: center;
}

.tablecontainer{
  margin-top: 50px;
  width: 90%;
}

th{
  font-size: 16px;
  font-weight: 600;
  color: #0C6170;
}

.rr{
  display: flex;
  align-items: center;
  justify-items: flex-end;
}

.rr div{
  flex: 2;
}

mat-form-field{
  flex: 2;
  width: 250px;
  height: 70px;
  padding: 8px;
}

input::placeholder{
  font-size: 14px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 50px !important;
}

td{
  font-size: 15px;
}

td:nth-child(odd){
  font-weight: 600;
}

td:last-child{
  font-weight: 400;
}

.view{
  text-decoration: none;
  background-color: #37BEB0;
  color: #fff;
  padding: 10px 25px;
  border-radius: 3px;
}

.delete{
  text-decoration: none;
  background-color: rgb(191, 58, 58);
  color: #fff;
  padding: 10px 25px;
  border-radius: 3px;
}

.view:hover{
  background-color: #40d0c2;
}

.delete:hover{
  background-color: rgb(207, 63, 63);
}

.table .pending{
  background-color: rgba(255, 150, 105, 0.66);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
}

.table .rejected{
  background-color: rgba(255, 76, 76, 0.712);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
}

.table .confirmed{
  background-color: rgba(62, 243, 62, 0.66);
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
}
  